.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  box-sizing: border-box;
  width: 202px;
  height: 60px;
  padding: 12px 0 12px 15px;
  background: #DADADA;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.profile-photo {
  width: 35px;
  height: 35px;
  background: #D8D8D8;
  border-radius: 27px;
  margin-right: 6px;
}
.profile-name {
  color: #323232;
}
.profile-email {
  font-size: 10px;
  line-height: 12px;
  margin-top: 3px;
  color: rgba(50, 50, 50, .5);
}