.app {
  max-width: 1093px;
  width: 100%;
  margin: 0 auto;
}

main {
  display: flex;
}

.profile-photo {
  width: 35px;
  height: 35px;
  background: #D8D8D8;
  border-radius: 27px;
  margin-right: 6px;
}
.profile-name {
  color: #323232;
}
.profile-email {
  font-size: 10px;
  line-height: 12px;
  margin-top: 3px;
  color: rgba(50, 50, 50, .5);
}